framework: net60
storage: none

source https://api.nuget.org/v3/index.json
nuget FSharp.Core

group Test
    framework: net60
    storage: none

    source https://api.nuget.org/v3/index.json

    nuget FsCheck.XUnit
    nuget FSharp.Core
    nuget Microsoft.NET.Test.Sdk
    nuget xunit
    nuget xunit.runner.visualstudio
